<p id="notice"><%= notice %></p>

<h3><%= @place.name %></h3>
<p>	<%= @place.neighborhood %>
	<%= @place.address %></p>

<p><%= @place.description %></p>



<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @place.rating %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
